body {
    padding-bottom: 2em;
    background: url('../img/column.png');
    font-family: Helvetica,Arial,sans-serif;
}

p.title{
    font-size: 2em;
    font-weight: bold;
}

p.line {
    font-size: 1.8em;
    line-height: 1em;
}

a.lineTipToggler img{
    margin-left: -2em;
    vertical-align: middle;
    padding-right: 1em;
}

a.tip {
    border-bottom: 0.05em dotted;
    border-bottom-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    text-decoration: none;
    color: black;
}

a.word-highlight{
    background: yellow;
}

.tipsy-inner {
    font-size: 1.5em;
}

a.transparent{
    vertical-align: middle;
    text-decoration: none;
}

a.transparent img, a.transparent span{
    vertical-align: middle;
}

a.transparent span{
    font-size: 1.3em;
    text-decoration: underline;
    color: #000000;
}

#lastPageBlock, #lastPageBlock a{
    font-size: 1.3em;
    text-align: center;
}

#lastPageBlock a{
    text-decoration: underline;
    color: #888888;
}

#indexContainer ul {
    list-style: none;
    padding: 0;
}

#indexContainer ul li a{
    font-size: 1.8em;
    color: #000000;
    line-height: 2em;
}